h1{
    color:blueviolet;
    font-size: xx-large;
}
p{
    color: crimson;
}
#uno{
    font-size: x-large;
}
.oscuro
{
    background-color: black;
}
.claro
{
    background-color: aquamarine;
}